html, body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* body {
  overflow-y: hidden;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navItems a {
  color: black;
}

/* Extra small devices */

@media (min-width: 100px) {
  #loginBtn {
    margin-left: auto;
    margin-right: auto;
    padding: "15px 0 15x 0";
  }
  #registerBtn {
    margin-left: auto;
    margin-right: auto;
    padding: "15px 0 15px 0";
  }
  #logoImage {
    width: 90vw;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  #loginBtn {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 15px 0;
  }
  #registerBtn {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 15px 0;
  }
  #logoImage {
    width: 70vw;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #loginBtn {
    margin-left: auto;
    margin-right: 0;
    padding: 30px 0 30px 0;
  }
  #registerBtn {
    margin-left: 0;
    margin-right: auto;
    padding: 30px 0 30px 0;
  }
  #logoImage {
    width: clamp(100px, 50vw, 500px);
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  #loginBtn {
    margin-left: auto;
    margin-right: 0;
    padding: 30px 0 30px 0;
  }
  #registerBtn {
    margin-left: 0;
    margin-right: auto;
    padding: 30px 0 30px 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  #loginBtn {
    margin-left: auto;
    margin-right: 0;
    padding: 30px 0 30px 0;
  }
  #registerBtn {
    margin-left: 0;
    margin-right: auto;
    padding: 30px 0 30px 0;
  }
}

/* width */

::-webkit-scrollbar {
  width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #dddbdb;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #acabab;
  border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.componentContainer {
  background-color: #9efdf5;
  /* margin-top: 50px; */
  /* margin-bottom: 80px; */
  /* padding-bottom: 30px; */
  /* padding-left: 100px;
  padding-right: 100px; */
  padding-top: 70px;
}

.backgroundCircle {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(233, 231, 231);
}

p {
  font-size: 1rem;
  line-height: "30px";
}

.footer {
  background-color: #9efdf5;
}

#brandLogo {
  position: absolute;
  left: 8.1%;
  top: 20%;
  transform: translate(-50%, 0%);
  z-index: 999;
}

#brandLogoTitle {
  position: absolute;
  left: 8.1%;
  transform: translate(-50%, 0);
  top: 165%;
  font-size: 1.8rem;
  word-wrap: none;
  z-index: 999;
}

.sidebar {
  padding-top: 200px;
  /* box-shadow: inset -4px 0 0 #9efdf5; */
  overflow-x: hidden;
  border-right: solid #9efdf5 4px;
}

/* Quill */
.quillApp {
  /* margin: 1rem 4rem; */
}

.quillApp .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.quillApp .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.quillApp .ql-editor {
  min-height: 20em;
}